* {
    font-size: 13px;
    font-family: sans-serif;

}
/*div {
    background-color:lightgray;
    border: 1px solid  black;
} 
*/

div.header {
    display:flex;
    justify-content: space-between;
    word-spacing: 25px;
    margin-bottom: 10px;
    padding: 0px;
}

div.left-header {
    text-align: left;
    width: 50%;
    padding: 20px;

}

div.right-header {
    text-align: right;
    width: 50%;
    padding: 20px;
}

div.logo {
    display: flex;
    justify-content: center;
    align-content: center;
}

div.search-bar {
    display: flex;
    justify-content: center;
    align-content: center;
    height: auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    margin: auto;
    height: 40px;
    width: 600px;
    border: 1px solid lightgrey;
    border-radius: 20px;
}

div.buttons {
    display: flex;
    justify-content: center;
    align-content: center;

}

button {
    margin-inline: 25px;
    height:35px;
    width: 120px;
    background-color: rgb(248, 242, 242);
    border: 1px solid lightgray;
    border-radius: 3px;
}

div.foot {
    display: inline-flex;
    width: 100%;
    justify-content:space-between ;
    align-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    color: rgb(97, 96, 96);
    ;
   

}

div.footer-left {
    display:flex;
    justify-content: flex-start;
    width:100%;

}

div.footer-center {
    display:flex;
    justify-content: center;
    width:100%
    
}

div.footer-right {
    display:flex;
    justify-content: flex-end;
    width:100%
    
}

.foot a {
    padding: 10px;
}

a:hover {
    text-decoration: underline;
}